
@{
    ViewBag.Title = "GovernmentScheme";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


<!-- Resources Section with Background Image and Blur Effect -->
<div class="registration-section" style="height:auto;display:flex;justify-content:center">
    <div class="registration-form">
        <h2>Add Resources Here</h2>
        <form action="/SuperAdmin/GovernmentScheme" method="post">
            <div class="form-group">
                <label for="name">Title</label>
                <input type="text" id="Schemetitle" name="Schemetitle" required placeholder="Scheme Title">
            </div>
            <div class="form-group">
                <label for="resource">Content</label>
                <input type="text" id="resource" name="Schemename1" required placeholder="Scheme 1">
            </div>
            <div class="form-group">
                <label for="resource">Content</label>
                <input type="text" id="resource" name="Schemename2" required placeholder="Scheme 1">
            </div>
            <div class="form-group">
                <label for="resource">Content</label>
                <input type="text" id="resource" name="Schemename3" required placeholder="Scheme 1">
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Add">
            </div>

        </form>
    </div>
</div>




