USE [Miss]
GO
/****** Object:  Table [dbo].[Tbl_Program]    Script Date: 18-04-2025 20:16:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Program](
	[P_id] [int] IDENTITY(1,1) NOT NULL,
	[Pro_Title] [nvarchar](100) NOT NULL,
	[Pro_Des] [nvarchar](300) NOT NULL,
	[Pro_Pic] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[P_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
